body {
    background-image: url('../images/space.jpg');
    background-repeat: repeat;
    background-size: auto;
}

#titleDiv {
    font-family: 'VT323', monospace;
    margin-top: 10px;
    font-size: 30px;
    color: gold;
}
#instructions {
    background-color: #595959;
    border: 2px solid #b3b3b3;
    color: #000000;
    text-align: center;
    margin-top: 100px;
    margin-left: 320px;
    margin-bottom: 30px;
    width: 800px;

}
.lightSideQuestionOdd {
    background-color: #66ff66;
    border: 2px solid #b3b3b3;
    color: #000000;
    text-align: center;
    margin-left: 320px;
    margin-bottom: 10px;
    width: 800px;
}
.lightSideQuestionEven {
    background-color: #5f9efc;
    border: 2px solid #b3b3b3;
    color: #000000;
    text-align: center;
    margin-left: 320px;
    margin-bottom: 10px;
    width: 800px;
}
.instructionsTitle {
    text-decoration: underline;
}
#lightSideInstructions {
    background-color: #5f9efc;
    border: 2px solid #b3b3b3;
    color: #000000;
    text-align: center;
    margin-left: 320px;
    margin-bottom: 30px;
    width: 800px;
}
#sideChoice {
    width:1000px;
    margin: auto;
    text-align: center;
}

.sideImage {
    height: 200px;
    width: auto;
}

#titleDiv{
    text-align: center;
}
.side {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}

.buttonWrapper {
    margin-top: 10px;
}

#lightSideButton {
    background-color: #5f9efc
}
#neutralButton {
    background-color: #999999
}
#darkSideButton {
    background-color: #ff3300
}

#lightSideSubtitle {
   text-decoration-color: blue;
}

#lightSideQuestionSubmitDiv {
    text-align: center;
    width: 600px;
    margin-left: 420px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
}

.resultPopup {
    width: 600px;
    height: 300px;
    margin-left: 420px;
    padding-top: 40px;
    text-align: center;
    background-color: aqua;
    border: 1px solid white
}

.darkSideQuestionOdd {
    background-color: red;
    border: 2px solid #b3b3b3;
    color: #000000;
    text-align: center;
    margin-left: 320px;
    margin-bottom: 10px;
    width: 800px;
}
.lightSideQuestionEven {
    background-color: red;
    border: 2px solid #b3b3b3;
    color: #000000;
    text-align: center;
    margin-left: 320px;
    margin-bottom: 10px;
    width: 800px;
}
#darkSideInstructions {
    background-color: red;
    border: 2px solid #b3b3b3;
    color: #000000;
    text-align: center;
    margin-left: 320px;
    margin-bottom: 30px;
    width: 800px;
}
#darkSideQuestionSubmitDiv {
    text-align: center;
    width: 600px;
    margin-left: 420px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
}